{require_otp_vsn, "21"}.

{erl_opts, [debug_info, warn_untyped_record]}.

{eunit_opts, [verbose]}.
{cover_enabled, true}.


{escript_emu_args, "%%! -escript main cuttlefish_escript +A 0\n"}.
{escript_incl_apps, [getopt]}.

{xref_checks, []}.
{xref_queries, [{"(XC - UC) || (XU - X - B - \"(rebar.*|mustache)\" : Mod)", []}]}.

{deps, [
    {getopt, ".*", {git, "https://github.com/basho/getopt.git", {tag, "v0.8.2"}}},
    {neotoma, ".*", {git, "https://github.com/basho/neotoma.git", {tag, "1.7.4"}}}
  ]}.


{pre_hooks, [{compile, "make"}]}.
